<div class="message-row fade-in-up {% if message.sender == current_user %}sent{% else %}received{% endif %}">

    {% if message.sender != current_user %}
    <div class="message-avatar d-flex align-items-center justify-content-center bg-primary text-white rounded-circle">

        {{ message.sender.first_name|first|upper }}
        {{ message.sender.last_name|first|upper }}

    </div>
    {% endif %}

    <div class="message-bubble {% if message.sender == current_user %}sent{% else %}received{% endif %}">

        {% if message.sender != current_user %}
        <small class="message-sender-name">
            {{ message.sender.first_name }} {{ message.sender.last_name }}
        </small>
        {% endif %}

        {% if message.body %}
        <p class="message-text">
            {{ message.body }}
        </p>
        {% endif %}

        {% if message.file %}
        {% with message.file.url as file_url %}

        {% if ".jpg" in file_url or ".jpeg" in file_url or ".png" in file_url or ".webp" in file_url %}

        <img src="{{ file_url }}" class="chat-image" style="max-width: 250px; border-radius: 10px; margin-top: 5px;">

        {% else %}

        <a href="{{ file_url }}" download target="_blank" class="file-download"
            style="{% if current_user != message.sender %} color: #555; {% else %} color: white; {% endif %}">
            📄 {{ message.file.name|cut:"chat_files/" }}
        </a>

        {% endif %}

        {% endwith %}
        {% endif %}

        <small class="message-time">
            {{ message.created_at|timesince }} ago
        </small>

    </div>

    {% if message.sender == current_user %}
    <div class="message-avatar d-flex align-items-center justify-content-center bg-success text-white rounded-circle">

        {{ current_user.first_name|first|upper }}
        {{ current_user.last_name|first|upper }}

    </div>
    {% endif %}

</div>

<style>
    @keyframes fadeInAndUP {
        from {
            opacity: 0;
            transform: translateY(12px);
        }

        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    .fade-in-up {
        animation: fadeInAndUP 0.6s ease-out;
    }
</style>

<script>scrollToBottom()</script>